body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    background-color: rgb(255, 255, 255);
    margin: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
}



.container {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    background-color: rgb(198, 218, 230);
    margin: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
}

.title {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    background-color: rgb(198, 218, 230);
    margin: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
}

.title h1 {
    font-size: 2rem;
    font-weight: bold;

}

.management {
    width: 85%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    align-content: flex-start;
    background-color: rgb(215, 210, 210);
    margin: 0;
    border-radius: 10px;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
}

.management-top {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    background-color: rgb(215, 210, 210);
    margin: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
}

.management-top button {
    width: 90%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    background-color: rgb(5, 132, 252);
    color: white;
    border-radius: 5px;
    margin: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
}

.management-bottom {
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    align-content: flex-start;
    background-color: rgb(215, 210, 210);
    margin: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
}

.product-name {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: column;
    background-color: rgb(215, 210, 210);
    margin: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
}

.product-price {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: column;
    background-color: rgb(215, 210, 210);
    margin: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
}

.search {
    width: 100%;
    height: 8%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    margin-top: 20px;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
}

.search-input {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    margin-left: 20px;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
}

.product-list {
    width: 100%;
    height: 49%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    align-content: flex-start;
    margin-top: 20px;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
}

.product-list-content {
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    align-content: flex-start;
    margin: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
}